* {
  margin: 0;
  border: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-areas: ". main-container .";
}

footer {
  background-image: url(layout/FOOTER.png);
  height: 40px;
  box-shadow: 0px 0px 5px 2px #313131;
}

header {
  background-image: url(layout/header-banner.png);
  height: 390px;
  background-size: 100%;
}

h1 {
  color: white;
}

nav {
  position: relative;
  top: 50px;
  left: 55%;
  background-color: #F0c106;
  /* box-shadow: -2px -2px 0px 0px #957D17; */
  /* box-shadow: -4px -4px 0px 0px #756517; */
  width: 35%;
  height: 30px;
}

.main-container {
  box-shadow: 0px 4px 10px 3px grey;
  grid-area: main-container;
}

.mediabar {
  top: 90px;
  height: 300px;;
}

.BG-img-header   {
  width: 100%;
}

.advantages {
  height: 140px;
}

.strangeBlockOne {
  background-image: url(layout/midle-main.png);
  height: 320px;
}

.strangeBlockTwo {
  background-image: url(layout/bottom-midle.png);
  height: 320px;
}

/* @media (max-width: 960px) {
  div {
  }
} */
