* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-areas:". middle .";
}

.middle {
  grid-area: middle;

  display: grid;
  grid-template-rows: 390px 950px 50px;
  grid-template-areas:
  "advantages"
  "main"
  "footer";

  box-shadow: 5px 5px 10px 2px gray;
}

.advantages {
  grid-area: advantages;
  display: grid;
  grid-template-areas:"header"
                      "media";
  grid-template-rows: 115px 275px;

  background-image: url(layout/header-banner.png);
  background-size: 100%;
}

header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 220px 2fr 320px 1fr;
  grid-template-areas:". h1 . nav .";
}

h1 {
  grid-area: h1;

  background-image: url(layout/logo.png);
  background-repeat: no-repeat;
  background-position: center left;

  color: white;
  text-transform: uppercase;
  font-style: italic;
  text-align: right;
  line-height: 130px;
}

nav {
  grid-area: nav;

  margin-top: 50px;
  height: 28px;
  background-color: #F0c106;

  box-shadow: -2px -2px 0 0px rgba(240, 193, 6, 60%), -4px -4px 0 0px rgba(240, 193, 6, 35%);
  /* box-shadow: -4px -4px 0 0px rgba(240, 193, 6, 35%); */
}

button {
  background-color: #F5C506;
  width: 32%;
  height: 100%;
  border-left: 1px solid #DCB105;
  text-transform: uppercase;
  color: rgb(110, 100, 10);
}

button:first-child {
  border: none;
}

button > img {
  height: 17px;
  vertical-align: middle;
}

.media {
  grid-area: media;

  display: grid;
  grid-template-columns: 1fr 380px 340px 1fr;
  grid-template-areas:". playerImg playerText .";
}

.player {
  grid-area: playerImg;

  margin-top: 15px;
  background-image: url(layout/player.png);
  background-size: 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: 193px 33px;
  justify-items: center;
  align-items: center;
}

.leftCtrl {
  transform: scale(-1, 1);
  display: grid;
  justify-self: start;;
  align-self: center;
}

.rightCtrl {
  display: grid;
  justify-self: end;
  align-self: center;;
}

.playerPlay {
  justify-items: center;
}

.playerPanel {
  padding: 0;
  margin: 0;
  width: 90%;
}

.textToPlayer {
  grid-area: playerText;

  margin-top: 20%;
  margin-left: 10%;
}

.cool {
  color: #F0c106;
  text-align: center;
  font-size: 240%;
  text-transform: uppercase;
}

.minimal {
  text-align: center;
  color: white;
  font-size: 240%;
  text-transform: uppercase;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:"pluses"
                      "first"
                      "second";
  grid-template-rows: 170px 390px 390px;
}

.pluses {
  grid-area: pluses;

  display: grid;
  grid-template-columns: 1fr 240px 240px 240px 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas:". p1 p2 p3 .";
}

.p1 {
  grid-area: p1;
  background-image: url(layout/cloud.png);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10%;

  font-size: 110%;
}

.p2 {
  grid-area: p2;
  background-image: url(layout/sheet.png);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10%;

  font-size: 110%;
}

.p3 {
  grid-area: p3;
  background-image: url(layout/telega.png);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10%;

  font-size: 110%;
}

.firstStrangeElement {
  grid-area: first;
  background-image: url(layout/midle-main.png);

  color: white;

  display: grid;
  grid-template-columns: 1fr 720px 1fr;
  grid-template-areas: '. FSEcenter .';
}

.FSEcenter {
  grid-area: FSEcenter;

  display: grid;
  grid-template-rows: 84px 179px 127px;
  grid-template-areas:'lorem1'
                      'twitterAndPlayer'
                      'scrol';
}

.lorem1 {
  grid-area: lorem1;

  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.twitterAndPlayer {
  grid-area: twitterAndPlayer;

  display: grid;
  grid-template-columns: 2fr 28px 1fr;
  grid-template-areas: "textAndPlayer . twitter";
}

.textAndPlayer {
  grid-area: textAndPlayer;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.MAMimg {
  height: 100%;
}

.MAMtext {
  background-color: #EC9E03;

  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 110%;
}

.twitter {
  grid-area: twitter;

  height: 100%;
}

.scrol {
  grid-area: scrol;

  display: flex;
  justify-content: center;
  align-items: center;
}

.scrol > img {
  width: 85%;
  margin: 20px;
}

.secondStrangeElement {
  grid-area: second;
  background-image: url(layout/bottom-midle.png);

  display: grid;
  grid-template-columns: 1fr 720px 1fr;
  grid-template-areas: '. SSEcenter .';
}

.SSEcenter {
  grid-area: SSEcenter;

  display: grid;
  grid-template-rows: 100px 290px;
  grid-template-areas:'lorem2'
                      'divasesAndList';
}

.lorem2 {
  grid-area: lorem2;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #F0c106;
  font-size: 180%;
}

.divasesAndList {
  grid-area: divasesAndList;

  color: #F0c106;

  display: grid;
  grid-template-columns: 6fr 40px 4fr;
  grid-template-areas: 'devices . listOfSomething';
}

.devices {
  grid-area: devices;
  width: 100%;
}

li {
  padding: 5px;
}

li > p {
  color: #A9A9A7;
}

.listOfSomething {
  grid-area: listOfSomething;

  padding-top: 10%;
}

footer {
  grid-area: footer;
  background-image: url(layout/FOOTER.png);

  display: grid;
  grid-template-columns: 1fr 720px 1fr;
  grid-template-areas: ". footerCenter .";

  box-shadow: 0px -1px 4px 0px #181818;
}

.footerCenter {
  grid-area: footerCenter;

  display: grid;
  grid-template-columns: 43px 110px 1fr;
}

.logoFooter {
  width: 100%;

  display: grid;
  align-self: center;
}

.textFooter {
  color: white;
  text-transform: uppercase;
  font-style: italic;
  text-align: right;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}
